body,
html {
  background-color: #1a273c;
}

html {
  --scrollbarBG: #00000000;
  --thumbBG: #ff007a;
}

body::-webkit-scrollbar {
  width: 10px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 2px solid var(--scrollbarBG);
}

.p {
  padding: 150px 100px 40px 100px;
}

.head {
  padding-top: 10px;
}

.carousel {
  margin-bottom: 40px;
}

.carousel-cell,
.card-body {
  width: 100%;
  margin-right: 10px;
  color: white;
  background: #27284f;
  border-radius: 5px;
}

.carousel-nav .carousel-cell,
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  width: 150px;
}

.btn-primary {
  color: white;
  border: 1px solid white;
  background-color: #ff007a;
}

.dd a {
  text-decoration: none;
}

.carousel-nav .carousel-cell div {
  display: inline-block;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #ff007a;
}

.carousel-main:hover {
  transform: scale(1.1);
}

.carousel-main .carousel-cell {
  padding: 50px;
  height: auto;
}

.nd {
  display: none;
}

.d {
  display: block;
}

.dd {
  margin-top: 150px;
  padding: 20px;
}

.carousel-main .carousel-cell {
  max-height: 500px;

  overflow: scroll;
}

@media (max-width: 992px) {
  .nd {
    display: block;
    text-align: center;
  }

  .nd p {
    display: flex;
    justify-content: center;
  }

  .d {
    display: none;
  }
}

.qu {
  width: 100%;
}

.regi-btns {
  display: flex;
  justify-content: space-around;
}

.regi-btn {
  color: white;
  background-color: #ff007a;
  border: 1px solid #ff007a;
  padding: 20px;
  border-radius: 10px;
  margin: 5px 0px;
}

.regi-btn:hover {
  color: black;
  background-color: #fff;
  transform: scale(1.1);
  transition: all ease 0.5s;
}

.features {
  display: flex;
  justify-content: space-evenly;
}

.map-btn {
  display: inline-block;
  background-color: #ff007a;
  border-radius: 10px;
  padding: 10px;
}

.map-btn a {
  color: #fff;
  text-decoration: none;
}

.fea-map {
  margin: 40px 0px;
}

@media (max-width: 650px) {
  .features {
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
  }

  .map-btn {
    margin: 10px;
  }

  .fea-map iframe {
    width: auto;
  }
}
