@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html,
body {
  background-color: #1a273c;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.m {
  margin-top: 100px;
}

.merch_heading {
  font-size: 4vw;
  font-weight: 600;
  height: 12vw;
  letter-spacing: 0em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.merch_btns input {
  display: none;
}

.merch_btns {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 13vh;
  left: 3vw;
  top: -3vw;
  background: white;
}

.merch_btn1,
.merch_btn2,
.merch_btn3,
.merch_btn4,
.merch_btn5 {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  transition: 0.3s;
  background: white;
  border: 0.15vw solid black;
  cursor: pointer;
}

.merch_btn1,
.merch_btn2,
.merch_btn3,
.merch_btn4 {
  margin-right: 0.4vw;
}

.merch_btn1:hover,
.merch_btn2:hover,
.merch_btn3:hover,
.merch_btn4:hover,
.merch_btn5:hover {
  background: #1a273c;
}

.w1 {
  color: white;
  margin-right: 1vw;
}

.w2 {
  color: #ff007a;
  margin-left: 1vw;
}

.merch_items {
  height: 30vw;
  width: 100%;
  border-radius: 0px;
  background: white;
}

.merch_slider {
  display: flex;
  background-color: white;
  width: 100%;
}

.merch_slider_text {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60vw;
  margin-top: 7vw;
  margin-left: 2vw;
}

.merch_slider_text_heading {
  background-color: white;
  font-size: 3vw;
  font-weight: 700;
}

.merch_slider_text_description {
  background-color: white;
  font-size: 1.5vw;
}

.merch_slider_img {
  background: url(../images/merchandisePage/merch_1/merch1_1.jpg);
  height: 30vw;
  width: 40vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.merch_item1 {
  background: url(../images/merchandisePage/tshirts.jpeg);
}

.merch_item2 {
  background: url(../images/merchandisePage/bottle.jpeg);
}

.merch_item3 {
  background: url(../images/merchandisePage/poster.jpeg);
}
.merch_item4 {
  background: url(../images/merchandisePage/poster.jpeg);
}
.merch_item5 {
  background: url(../images/merchandisePage/poster.jpeg);
}

.selected_merch {
  display: flex;
  flex-direction: row;
  padding-bottom: 2vw;
  padding-top: 3vw;
  padding-left: 4vw;
  padding-right: 4vw;
}

.merch_img {
  width: 35vw;
  height: 33vw;
  background: #848484;
  background: url(../images/merchandisePage/merch_1/merch1_1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.merch_image {
  display: flex;
  flex-direction: column;
}

.images {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.img1,
.img2,
.img3,
.img4 {
  width: 8.6vw;
  height: 7vw;
  background-color: white;
}

.img1 {
  background: url(../images/merchandisePage/merch_1/merch1_1.jpg);
  background-size: 100% 100%;
}

.img2 {
  background: url(../images/merchandisePage/merch_1/merch1_2.jpg);
  background-size: 100% 100%;
}

.img3 {
  background: url(../images/merchandisePage/merch_1/merch1_3.jpg);
  background-size: 100% 100%;
}

.img4 {
  background: url(../images/merchandisePage/merch_1/merch1_4.jpg);
  background-size: 100% 100%;
}

.img1,
.img2,
.img3 {
  margin-right: 0.2vw;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover {
  border: 2px solid #ff007a;
}

/*
.merch_img{
  box-sizing: border-box;
  position: absolute;
  width: 503px;
  height: 608px;
  left: 72px;
  top: 986px;
  background: #848484;
  border: 1px solid #000000
} */

.merch_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6vw;
  width: 40vw;
}

.merch_name {
  font-size: 3.3vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  border: 0px;
  font-family: Poppins;
  /* font-size: 36px; */
  font-weight: 500;
  line-height: 5vw;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.merch_description {
  font-size: 1.5vw;
  margin-bottom: 2vw;
  color: white;
}

.buynow {
  border: 0;
  background: #ff007a;
  border-radius: 0.8vw;
  font-family: Poppins;
  font-size: 1.8vw;
  font-weight: 600;
  line-height: 3.3vw;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding: 0.8vw 6vw;
  cursor: pointer;
}

.tickets {
  background: white;
  border-radius: 11vw 0px 0px 11vw;
  display: flex;
  align-items: center;

  height: 13vw;
  margin-top: 2vw;
  padding-left: 13vw;
}

.tkt_details {
  background-color: white;
  margin-left: 6vw;
}

.tkt_name {
  font-family: Poppins;
  font-size: 2vw;
  font-weight: 600;
  line-height: 4vw;
  letter-spacing: 0em;
  text-align: start;
  background-color: white;
}

.tkt_desc {
  font-family: Poppins;
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 4vw;
  letter-spacing: 0em;
  text-align: center;
  background-color: white;
}

.buytkts {
  border: 0;
  background: #ff007a;
  border-radius: 0.8vw;
  font-family: Poppins;
  font-size: 1.8vw;
  font-weight: 600;
  line-height: 3.3vw;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding: 0.8vw 6vw;
  margin-left: 6vw;
  cursor: pointer;
}

.blank {
  height: 2345px;
}

.buynow:hover {
  color: black;
  font-weight: 800;
  background-color: white;
  transition: 0.5s;
}

.buytkts:hover {
  font-weight: 800;
  color: black;
  background-color: white;
  transition: 0.5s;
  border: 2px solid #ff007a;
}

.b1 {
  background: #ff007a;
}

.merch_btn1.highlight,
.merch_btn2.highlight,
.merch_btn3.highlight,
.merch_btn4.highlight,
.merch_btn5.highlight {
  background: #ff007a;
  border: 0;
  /* box-shadow: 0 0 5px #FF007A, 0 0 15px #FF007A, 0 0 20px #FF007A; */
}

@media screen and (max-width: 768px) {
  .merch_slider_text_heading {
    font-size: 4vw;
  }

  .merch_slider_text_description {
    font-size: 2vw;
  }
}

@media screen and (max-width: 550px) {
  .merch_heading {
    font-size: 35px;
    height: 140px;
  }

  .merch_items {
    width: 100%;
    height: 300px;
    background-color: white;
  }

  .merch_slider_img {
    height: 300px;
    width: 250px;
  }

  .merch_slider_text_heading {
    font-size: 25px;
  }

  .merch_slider_text_description {
    font-size: 20px;
  }

  .merch_btns {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 13vh;
    left: 3vw;
    top: -7vw;
  }

  .merch_btn1,
  .merch_btn2,
  .merch_btn3,
  .merch_btn4,
  .merch_btn5 {
    width: 10px;
    height: 10px;
  }

  .selected_merch {
    background-color: #1a273c;
    display: flex;
    flex-direction: column;
  }

  .merch_image {
    display: flex;
    flex-direction: row;
  }

  .merch_img {
    margin-right: 20px;
    width: 380px;
    height: 400px;
  }

  .images {
    display: flex;
    flex-direction: column;
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    width: 80px;
    height: 90px;
  }

  .img1,
  .img2,
  .img3 {
    margin-bottom: 13px;
  }

  .merch_details {
    width: 300px;
  }

  .merch_name {
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .merch_description {
    font-size: 15px;
  }

  .buynow {
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    width: 200px;
  }

  .tickets {
    width: 100%;
    height: 100px;
  }

  .buytkts {
    font-size: 15px;
    font-weight: 350;
    height: 40px;
    width: 200px;
    line-height: 15px;
  }

  .tkt_name {
    font-size: 13px;
  }

  .tkt_desc {
    font-size: 10px;
  }

  .gototop.active {
    bottom: 4vw;
    right: 10vw;
    pointer-events: auto;
    opacity: 1;
  }

  .merch_slider {
    width: 100vw;
  }
}
