html,
body {
    background-color: #1b273d;
}

html {
    --scrollbarBG: #00000000;
    --thumbBG: #FF007A;
}

body::-webkit-scrollbar {
    width: 10px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 2px solid var(--scrollbarBG);
}

.m {
    margin-top: 50px;
}

.bp {
    border: 2px solid #FF007A;
}

.bw {
    border: 2px solid #FFf;
}

.about-spon {
    display: flex;
    color: #FFf;
    margin: 30px 100px;
    border-radius: 200px;
    padding: 10px 50px;
    background-color: rgba(255, 255, 255, 0.139);
}

.about-spon .num {
    display: inline-block;
    margin: 20px;
    width: 40px;
    height: 40px;
    padding: 0px 15px;
    margin-top: 35px;
    padding-top: 5px;
    font-size: larger;
    border: 2px solid #FF007A;
    border-radius: 100%;
}

.about-spon:hover {
    color: black;
    background-color: white;
}

.spon-btns {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.spon-btn {
    color: white;
    background-color: #FF007A;
    border: 1px solid #FF007A;
    padding: 10px 20px;
    border-radius: 200px;
    margin: 20px;
}

.spon-btn:hover {
    color: black;
    background-color: #FFF;
    transform: scale(1.1);
    transition: all ease .5s;
}

@media(max-width: 700px) {
    .about-spon {
        flex-wrap: wrap;
        border-radius: 10px;
        margin: 30px 40px;
    }

    .about-spon .num {
        margin-left: 100px;
    }

    .spon-btns {
        flex-wrap: wrap;
    }
}